*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --yellow-js: #fafafa;
}

html{
    font-size: 62.5%;
    height: 100%;
}
body{
    
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    width: 100%;
    height: 100vh;
    display: block;

    font-family: 'Open Sans', sans-serif;
}
.menu-ico{
    display: none;
}
.card{
    min-width: 380px;
    width: 390px;
    height: 600px;
    background-color: #242424;
    border-radius: 40px;
    box-shadow:0px 10px 10px 5px rgba(0,0,0,0.16);
    margin:20px;
    transition-duration: 200ms;
    overflow: hidden;
}
.card .card-top{
    background: url("https://images.pexels.com/photos/5483071/pexels-photo-5483071.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center/cover no-repeat;
    height: 233px;
    border-radius: 40px 40px 0 0;
}
.card .profile-data{
    width: 100%;
    height: 243px;
    padding: 0 10px;
}
.card .profile-data h1{
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-align: center;
    margin-top: 30px;
}
.card .profile-data h2{
    font-size: 20px;
    font-weight: 500;
    color: #666666;
    text-align: center;
    margin-top: 5px;
}
.card .profile-data p{
    font-size: 20px;
    font-weight: 500;
    color: #666666;
    text-align: center;
    margin-top: 5px;
}
.card .profile-data--img{
    display: block;
    object-fit: cover;
    width: 145px;
    height: 145px;
    margin: 0px auto;
    margin-top: -75px;
    border-radius: 50%;
    border: 4px solid white;
}

.card .profile-data--img2{
    display: block;
    object-fit: cover;
    width: 145px;
    height: 145px;
    margin: 0px auto;
    margin-top: 115px;
    margin-left: 60%;
    border-radius: 50%;
    border: 4px solid white;
    position: absolute;
    z-index: 1;
}

.card .follow{
    background-color: #060916;
    width: 100%;
    height: 63px;
    border-radius: 0 0 40px 40px;
    display: flex;
    cursor: pointer;
    
    
}
.card .follow span{
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin: 0 auto;
    align-self: center;
    transition-duration: 500ms;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card .follow:hover{
    background-color: #0A0F24;
}
.card .follow:hover span{
    font-size: 2.2rem;
    transition-duration: 200ms;
}

.card .social{
display: inline-flex;
width: 100%;
height: 67px;
align-items: center;
text-align: center;
justify-content: space-around;
background: #2E2E2E;
}
.card .social p{
font-size: 2rem;
font-weight: bold;
color: white;
}
.card .social span{
font-size: 1.4rem;
color: #C2C2C2;
}

.card .profile-links{
display: inline-flex;
width: 100%;
height: 67px;
margin-top: 25px;
align-items: center;
justify-content: space-around;
text-align: center;
}
.card .profile-links a{
font-size: 1.8rem;
text-align: center;
color: #C2C2C2;
text-align: center;
text-decoration: none;
cursor: pointer;
}
.card .profile-links a:hover{
color: white;
}

.card .follow img{
height: 35px;
width: 35px;
display: flex;
}

.card .follow .linkButton{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 100%;
width: 100%;
}    

.stackDiv{
overflow: hidden;
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.stackDiv img{

height: 100%;
width: 50%;
}

.stackDiv h1{
color: white;
}
.item3{
height: 85px;
width: 100%;
background: #242424;
}
.item2{

height: 100%;
width: 100%;
background: rgb(255, 255, 255);
}
.item1{
    display: flex;
    flex-direction: column;
    color: white;
    height: 50%;
    width: 100%;
    background: #242424;
}
.navMenu{
position: absolute;
justify-content: center;
width: 100%;

position: fixed;
top: 0px;
z-index: 2;
}
.divFooter{
width: 100%;
bottom: 0px;
position: fixed;
z-index: 2;
}

.footer{
width: 100%;
height: 100px; 

z-index:2 ; 

display: flex;
height: 52px;
background: rgb(0, 201, 184);
align-items: center;
justify-content: center;
flex-direction: column;
color: white;
}

ul {
height: 100%;
width: 100%;
align-items: center;
justify-content: center;
list-style-type: none;
display: flex;
margin: 0;
padding: 0;
background: rgb(0, 201, 184);
overflow: hidden;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 16px;
}

li a:hover:not(.active) {
background-color: #111;
}

.active {
background-color:  #333;
}

.divMain{
display: flex;
flex-direction: column;
}

.divArticles{
display: flex;
height: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}
p a{
color: white;
font-size: 1.5rem;
}
p a::hover{
color: #060916;
}

a:link, a:visited {
color: white;
padding: 14px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
}

@media (max-width: 620px) {
    .tope{
        width: 50px; height:50px; 
    }
    #ariculosDiv{
        margin-top: 100px;
    }
    .navMenu ul>li:nth-child(1){
        display: none;
    }
    .navMenu ul>li:nth-child(2){
        display: none;
    }
    .navMenu ul>li:nth-child(3){
        display: none;
    }
    .navMenu ul>li:nth-child(4){
        display: none;
    }
    .navMenu {
        height: 52px;
    }        

    .logo-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu-ico{
        display: inline;
        z-index: 3;
        position: fixed;
        margin-top: 16px;
        margin-left: 16px;
    }
}

.logo{
    margin-left: 10px;
    position: fixed;
    top: 13px;
    z-index: 3;
}